/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "general"                      */
/* ************************************************************************************ */
* {
  padding: 0px;
  margin: 0px; }

img {
  padding: 15px;
  width: 350px;
  height: 200px;
  border: groove 2px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "importaciones"                      */
/* ************************************************************************************ */
.section_materia--gra, .section_videos--gra, .section_sabias--gra, .section_jugando--gra, .section_materia--geo, .section_videos--geo, .section_sabias--geo, .section_jugando--geo, .section_materia--frac, .section_videos--frac, .section_sabias--frac, .section_jugando--frac, .section_materia--alg, .section_videos--alg, .section_sabias--alg, .section_jugando--alg {
  justify-items: center;
  align-items: center;
  border: 7px brown;
  padding: 5px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "cuerpo"                      */
/* ************************************************************************************ */
main {
  height: 1100px;
  display: inline-block;
  padding: 20px;
  background-image: linear-gradient(#D1FDD7, #a2f2ad, #D1FDD7); }

a {
  color: #8f0947;
  text-decoration: line-none; }

h2 {
  color: #1F740D;
  text-transform: uppercase;
  font-style: normal;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 40px;
  word-spacing: 5px;
  justify-content: center; }

h3 {
  color: #c215b6;
  text-decoration: underline;
  font-style: normal;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: left;
  letter-spacing: 5px;
  line-height: 30px;
  word-spacing: 5px;
  margin: 20px; }

.materia {
  color: #8F1D3B;
  font-style: normal;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px; }

.sabias {
  color: #74100D;
  font-style: normal;
  font-family: 'candara', sans-serif;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px; }

.video {
  color: #c77787;
  font-style: normal;
  font-family: 'Courrier New', serif;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 20px;
  align-items: center; }

.jugando {
  color: #A11241;
  font-style: normal;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 22px; }

.arriba {
  float: right;
  font-weight: bold;
  font-style: normal;
  font-family: impact, sans-serif;
  font-size: 20px;
  text-align: right;
  letter-spacing: 1px;
  line-height: 15px;
  position: fixed;
  top: 0;
  left: 0;
  align-content: end; }

textarea {
  font-size: 25px; }

textarea:hover {
  transform: rotate(180deg); }

.boton:hover {
  color: green;
  transform: scale(2); }

#algebra1 {
  background-image: url("multimedia/numeros.jpg"), url("multimedia/numeros1");
  background-size: contain;
  flex-grow: 1; }

.desplegable {
  list-style: circle inside;
  color: #412f78;
  font-style: normal;
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 20px;
  word-spacing: 2px;
  flex-grow: 3;
  width: 500px;
  padding: 30px; }

/* ************************************************************************************ */
/*                         Aplicando estilos por etiquetas   "main Index"                   */
/* ************************************************************************************ */
.cuerpoIndex {
  height: 1000px;
  display: flex;
  flex-direction: inline-block;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  flex-basis: 1200px;
  width: 1220px; }

.mapa {
  width: 430px;
  height: 400px;
  float: left;
  border: inset 20px #946246;
  padding: 50px; }

.desplegable2 {
  list-style: circle inside;
  color: #412f78;
  font-style: normal;
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 20px;
  word-spacing: 2px;
  flex-grow: 3;
  width: 300px;
  padding: 30px; }

/* ************************************************************************************ */
/*                         Aplicando estilos por etiquetas   "main Index"                   */
/* ************************************************************************************ */
.main_largo--con {
  height: 1400px;
  width: 1220px; }

header {
  background: linear-gradient(RGB(37, 115, 21), #D1FDD7);
  padding: 20px;
  display: inline-block;
  width: 1220px;
  height: 280px; }

.ft {
  width: 500px;
  height: 270;
  float: left;
  text-decoration-color: brown; }

.anima {
  background-image: url("multimedia/caos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: grid; }

.anima:hover {
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  position: relative; }

@keyframes efecto {
  from {
    transform: scale(1, 2);
    background-image: linear-gradient(to left top, green, brown);
    border-radius: 225px;
    opacity: 0.9;
    transform: skewX(25deg);
    transform: translate(300px); }
  20% {
    transform: skewX(50deg);
    transform: scale(1);
    transition: rotate(25deg);
    color: white; }
  75% {
    transition: rotate(250deg);
    transform: skewX(25deg); }
  to {
    transform: scale(1); } }

.h1 {
  display: inline-block;
  font-size: 30px;
  font-family: "engravers mt";
  font-style: italic;
  color: #60186B;
  width: 520px;
  height: 160px;
  padding: 20px;
  text-align: right; }

.fk {
  width: 680px;
  height: 20px;
  padding: 10px;
  float: left;
  text-align: right;
  position: relative; }

.desplegableInicio {
  list-style-type: square;
  list-style-position: outside;
  color: #1F740D;
  font-style: normal;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 20px;
  word-spacing: 2px;
  width: 1200px;
  height: 109px;
  float: right;
  padding: 20px;
  position: relative; }

.uno {
  list-style-type: none;
  font-size: 0px; }
  .uno .dos {
    display: inline-block;
    background-color: #C1CCED;
    width: 18%;
    height: 25%;
    font-size: 18px;
    position: right;
    border: outset 5px #946246; }

.uno .tres {
  position: absolute;
  display: none; }
  .uno .tres li {
    display: block;
    border: solid 2px #946246; }

.uno li:hover .tres {
  display: block;
  background-color: #EDDAA8; }

.plan5 {
  display: grid;
  grid-template-columns: 400px 600px;
  grid-template-rows: 300px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "footer"                      */
/* ************************************************************************************ */
footer {
  display: inline-block;
  padding: 20px;
  width: 1220px;
  background-color: #a2f2ad;
  background-image: linear-gradient(#D1FDD7, #257315); }

h4 {
  color: #1d0c7a;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  text-align: left;
  letter-spacing: 5px;
  line-height: 20px;
  word-spacing: 5px; }

.fin {
  width: 380px;
  height: 90px;
  float: left;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px; }

.redSocial {
  display: inline-block;
  list-style: none;
  width: 700px;
  height: 120px;
  float: right;
  padding: 20px;
  padding-right: 50px;
  letter-spacing: 2px;
  order: 3; }

.red1 {
  display: inline-block;
  float: right;
  width: 160px;
  height: 50px;
  margin: 5px, 2px, 5px, 3px;
  border: dashed 5px brown;
  text-align: center;
  padding-top: 20px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "graficos"                      */
/* ************************************************************************************ */
.main_largo--gra {
  height: 9800px; }

.main_mod--gra {
  display: grid;
  grid-template-columns: 1220px;
  grid-template-rows: 300px;
  border: inset 2px brown; }

.section_mod--gra {
  display: grid;
  grid-template-columns: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  justify-content: center;
  align-content: center;
  margin: 22px;
  grid-template-areas: "geo" "video" "sabias" "jugando" "comenta"; }

.section_materia--gra {
  grid-area: geo;
  border: double; }

.section_videos--gra {
  grid-area: video;
  border: groove; }

.section_sabias--gra {
  grid-area: sabias;
  border: ridge; }

.section_jugando--gra {
  grid-area: jugando;
  border: dotted; }

.section_comen--gra {
  grid-area: comenta;
  justify-items: stretch;
  align-items: stretch;
  border: dashed 7px brown;
  padding: 5px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "geometria"                      */
/* ************************************************************************************ */
.main_largo--geo {
  height: 10150px; }

.main_mod--geo {
  display: grid;
  grid-template-columns: 1220px;
  grid-template-rows: 300px;
  border: inset 2px brown; }

.section_mod--geo {
  display: grid;
  grid-template-columns: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  justify-content: center;
  align-content: center;
  margin: 22px;
  grid-template-areas: "geo" "video" "sabias" "jugando" "comenta"; }

.section_materia--geo {
  grid-area: geo;
  border: double; }

.section_videos--geo {
  grid-area: video;
  border: groove; }

.section_sabias--geo {
  grid-area: sabias;
  border: ridge; }

.section_jugando--geo {
  grid-area: jugando;
  border: dotted; }

.section_comen--geo {
  grid-area: comenta;
  justify-items: stretch;
  align-items: stretch;
  border: dashed 7px brown;
  padding: 5px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "fracciones"                      */
/* ************************************************************************************ */
.main_largo--frac {
  height: 9900px; }

.main_mod--frac {
  display: grid;
  grid-template-columns: 1220px;
  grid-template-rows: 300px;
  border: inset 2px brown; }

.section_mod--frac {
  display: grid;
  grid-template-columns: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  justify-content: center;
  align-content: center;
  margin: 22px;
  grid-template-areas: "geo" "video" "sabias" "jugando" "comenta"; }

.section_materia--frac {
  grid-area: geo;
  border: double; }

.section_videos--frac {
  grid-area: video;
  border: groove; }

.section_sabias--frac {
  grid-area: sabias;
  border: ridge; }

.section_jugando--frac {
  grid-area: jugando;
  border: dotted; }

.section_comen--frac {
  grid-area: comenta;
  justify-items: stretch;
  align-items: stretch;
  border: dashed 7px brown;
  padding: 5px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "algebra"                      */
/* ************************************************************************************ */
.main_largo--alg {
  height: 8900px; }

.main_mod--alg {
  display: grid;
  grid-template-columns: 1220px;
  grid-template-rows: 300px;
  border: inset 2px brown; }

.section_mod--alg {
  display: grid;
  grid-template-columns: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  justify-content: center;
  align-content: center;
  margin: 22px;
  grid-template-areas: "geo" "video" "sabias" "jugando" "comenta"; }

.section_materia--alg {
  grid-area: geo;
  border: double; }

.section_videos--alg {
  grid-area: video;
  border: groove; }

.section_sabias--alg {
  grid-area: sabias;
  border: ridge; }

.section_jugando--alg {
  grid-area: jugando;
  border: dotted; }

.section_comen--alg {
  grid-area: comenta;
  justify-items: stretch;
  align-items: stretch;
  border: dashed 7px brown;
  padding: 5px; }

table {
  border: solid 2px; }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas                                 */
/* ************************************************************************************ */
/* ********************************************************* */
/*   		          	media 700	                         */
/* ********************************************************* */
@media (max-width: 770px) and (min-width: 567px) {
  header, .h1, .ft, .fk, .desplegableInicio, footer, .especialIndex .cuerpoIndex, .especialIndex .mapa, .main_largo--alg, .main_largo--geo, .main_largo--gra, .main_largo--frac, .main_largo--con, .main_largo--con .cuadro {
    justify-items: justify;
    align-items: justify;
    width: 685px; }
  .fin, .main_largo--alg .plan5, .main_largo--alg .section_materia--alg, .main_largo--alg .section_videos--alg, .main_largo--alg .section_sabias--alg, .main_largo--alg .section_jugando--alg, .main_largo--alg .section_comen--alg, .main_largo--geo .plan5, .main_largo--geo .section_materia--geo, .main_largo--geo .section_videos--geo, .main_largo--geo .section_sabias--geo, .main_largo--geo .section_jugando--geo, .main_largo--geo .section_comen--geo, .main_largo--gra .plan5, .main_largo--gra .section_materia--gra, .main_largo--gra .section_videos--gra, .main_largo--gra .section_sabias--gra, .main_largo--gra .section_jugando--gra, .main_largo--gra .section_comen--gra, .main_largo--frac .plan5, .main_largo--frac .section_materia--frac, .main_largo--frac .section_videos--frac, .main_largo--frac .section_sabias--frac, .main_largo--frac .section_jugando--frac, .main_largo--frac .section_comen--frac {
    justify-items: justify;
    align-items: justify;
    width: 585px; }
  html {
    width: 685; }
  header {
    height: 550px; }
  .h1 {
    font-size: 25px;
    padding: 10px; }
  .ft {
    display: grid; }
  .fk {
    text-align: center; }
  .desplegableInicio {
    display: block; }
  footer {
    display: block;
    padding: 20px;
    height: 200px; }
  .fin {
    height: 50px; }
  .redSocial {
    width: 680px;
    display: inline-block;
    text-align: left; }
  .red1 {
    width: 150px; }
    .red1 a {
      width: 450px;
      display: inline-block;
      text-align: left; }
  /*Index*/
  .especialIndex {
    height: 1400px; }
    .especialIndex .cuerpoIndex {
      height: 1300px; }
    .especialIndex .mapa {
      height: 200px; }
      .especialIndex .mapa img {
        width: 200px;
        height: 90px;
        padding: 10px; }
      .especialIndex .mapa .cuadroIndex {
        width: 200px;
        display: inline-block; }
  /*algebra*/
  .main_largo--alg {
    height: 10080px; }
    .main_largo--alg .plan5 {
      grid-template-rows: 120px;
      grid-template-columns: 250px 350px;
      height: 150px; }
      .main_largo--alg .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--alg .plan5 .desplegable {
        width: 450px; }
    .main_largo--alg .main_mod--alg {
      grid-template-rows: 150px; }
  /*geometria*/
  .main_largo--geo {
    height: 11750px; }
    .main_largo--geo .plan5 {
      grid-template-rows: 120px;
      grid-template-columns: 250px 350px;
      height: 150px; }
      .main_largo--geo .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--geo .plan5 .desplegable {
        width: 450px; }
    .main_largo--geo .main_mod--geo {
      grid-template-rows: 150px; }
    .main_largo--geo .section_materia--geo {
      grid-template-columns: 685px; }
  /*graficos*/
  .main_largo--gra {
    height: 11250px; }
    .main_largo--gra .plan5 {
      grid-template-rows: 120px;
      grid-template-columns: 250px 350px;
      height: 150px;
      padding: 10px; }
      .main_largo--gra .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--gra .plan5 .desplegable {
        width: 450px; }
    .main_largo--gra .main_mod--gra {
      grid-template-rows: 150px; }
    .main_largo--gra .section_materia--gra {
      grid-template-columns: 685px; }
  /*fracciones*/
  .main_largo--frac {
    height: 11700px; }
    .main_largo--frac .plan5 {
      grid-template-rows: 120px;
      grid-template-columns: 250px 350px;
      height: 150px;
      padding: 10px; }
      .main_largo--frac .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--frac .plan5 .desplegable {
        width: 450px; }
    .main_largo--frac .main_mod--frac {
      grid-template-rows: 150px; }
    .main_largo--frac .section_materia--frac {
      grid-template-columns: 685px; }
  /*contacto*/
  .main_largo--con {
    height: 1450px; }
    .main_largo--con img {
      width: 250px;
      height: 120px;
      padding: 10px; } }

/* ********************************************************* */
/*   		          	media 576	                         */
/* ********************************************************* */
@media (max-width: 576px) {
  header, .h1, .ft, .fk, .desplegableInicio, footer, .especialIndex .cuerpoIndex, .especialIndex .mapa, .main_largo--alg, .main_largo--geo, .main_largo--gra, .main_largo--frac, .main_largo--con, .main_largo--con .cuadro {
    justify-items: justify;
    align-items: justify;
    width: 491px; }
  .fin, .main_largo--alg .plan5, .main_largo--alg .section_materia--alg, .main_largo--alg .section_videos--alg, .main_largo--alg .section_sabias--alg, .main_largo--alg .section_jugando--alg, .main_largo--alg .section_comen--alg, .main_largo--geo .plan5, .main_largo--geo .section_materia--geo, .main_largo--geo .section_videos--geo, .main_largo--geo .section_sabias--geo, .main_largo--geo .section_jugando--geo, .main_largo--geo .section_comen--geo, .main_largo--gra .plan5, .main_largo--gra .section_materia--gra, .main_largo--gra .section_videos--gra, .main_largo--gra .section_sabias--gra, .main_largo--gra .section_jugando--gra, .main_largo--gra .section_comen--gra, .main_largo--frac .plan5, .main_largo--frac .section_materia--frac, .main_largo--frac .section_videos--frac, .main_largo--frac .section_sabias--frac, .main_largo--frac .section_jugando--frac, .main_largo--frac .section_comen--frac {
    justify-items: justify;
    align-items: justify;
    width: 385px; }
  html {
    width: 491; }
  header {
    height: 650px; }
  .h1 {
    font-size: 20px;
    padding: 10px;
    height: 140; }
  .ft {
    display: grid; }
    .ft img {
      width: 300px;
      height: 150px;
      padding: 10px; }
  .fk {
    text-align: center; }
  .desplegableInicio {
    display: block; }
    .desplegableInicio .dos {
      width: 490px;
      height: 40px;
      text-align: center; }
  footer {
    display: block;
    padding: 20px;
    height: 250px; }
  .fin {
    height: 50px; }
  .redSocial {
    width: 500px;
    display: block;
    text-align: left; }
  .red1 {
    width: 200px; }
    .red1 a {
      width: 450px;
      display: block;
      text-align: left; }
  /*Index*/
  .especialIndex {
    height: 1700px; }
    .especialIndex .cuerpoIndex {
      height: 1300px; }
    .especialIndex .mapa {
      height: 280px; }
      .especialIndex .mapa img {
        width: 200px;
        height: 90px;
        padding: 10px;
        text-align: center; }
      .especialIndex .mapa .cuadroIndex {
        width: 200px;
        display: inline-block; }
  /*algebra*/
  .main_largo--alg {
    height: 11780px; }
    .main_largo--alg .plan5 {
      grid-template-rows: 150px 150px;
      grid-template-columns: 450px;
      height: 350px; }
      .main_largo--alg .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--alg .plan5 .desplegable {
        width: 450px;
        height: 150px; }
    .main_largo--alg .main_mod--alg {
      grid-template-rows: 300px; }
    .main_largo--alg .section_videos--alg iframe {
      width: 390px;
      height: 300px; }
    .main_largo--alg .section_comen--alg textarea {
      width: 385px; }
  /*geometria*/
  .main_largo--geo {
    height: 14000px; }
    .main_largo--geo .plan5 {
      grid-template-rows: 150px 150px;
      grid-template-columns: 450px;
      height: 350px; }
      .main_largo--geo .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--geo .plan5 .desplegable {
        width: 450px;
        height: 150px; }
    .main_largo--geo .main_mod--geo {
      grid-template-rows: 300px; }
    .main_largo--geo .section_materia--geo {
      grid-template-columns: 685px; }
    .main_largo--geo .section_videos--geo iframe {
      width: 390px;
      height: 300px; }
    .main_largo--geo .section_comen--geo textarea {
      width: 385px; }
  /*graficos*/
  .main_largo--gra {
    height: 13650px; }
    .main_largo--gra .plan5 {
      grid-template-rows: 150px 150px;
      grid-template-columns: 450px;
      height: 350px;
      padding: 10px; }
      .main_largo--gra .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--gra .plan5 .desplegable {
        width: 450px;
        height: 150px; }
    .main_largo--gra .main_mod--gra {
      grid-template-rows: 300px; }
    .main_largo--gra .section_materia--gra {
      grid-template-columns: 685px; }
    .main_largo--gra .section_videos--gra iframe {
      width: 390px;
      height: 300px; }
    .main_largo--gra .section_comen--gra textarea {
      width: 385px; }
  /*fracciones*/
  .main_largo--frac {
    height: 14100px; }
    .main_largo--frac .plan5 {
      grid-template-rows: 150px 150px;
      grid-template-columns: 450px;
      height: 350px;
      padding: 10px; }
      .main_largo--frac .plan5 img {
        width: 250px;
        height: 120px;
        padding: 10px; }
      .main_largo--frac .plan5 .desplegable {
        width: 450px;
        height: 150px; }
    .main_largo--frac .main_mod--frac {
      grid-template-rows: 300px; }
    .main_largo--frac .section_materia--frac {
      grid-template-columns: 685px; }
    .main_largo--frac .section_videos--frac iframe {
      width: 390px;
      height: 300px; }
    .main_largo--frac .section_comen--frac textarea {
      width: 385px; }
  /*contacto*/
  .main_largo--con {
    height: 1650px; }
    .main_largo--con img {
      width: 250px;
      height: 120px;
      padding: 10px; }
    .main_largo--con .cuadro {
      height: 30px; }
    .main_largo--con textarea {
      width: 385px; } }

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas                                 */
/* ************************************************************************************ */
h5 {
  line-height: 3.0;
  text-align: center;
  font-size: 30px;
  font-family: "Akaya Telivigala";
  color: #5D50F5; }

.cuadro {
  text-align: center;
  width: 1200px; }

.info {
  font-family: "Akaya Telivigala";
  color: cornflowerblue;
  font-size: 30px;
  text-align: center;
  border: solid 2px brown; }
