/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "fracciones"                      */
/* ************************************************************************************ */ 
.main_largo--frac{
	@include cambiarMain(9900px);

}
.main_mod--frac{
	display: grid;
	grid-template-columns: 1220px;
	grid-template-rows: 300px; 
	border:inset 2px brown;
}

.section_mod--frac{
  display: grid;
  grid-template-columns: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  justify-content: center;
  align-content: center;
  margin: 22px;
  grid-template-areas:  "geo"
  						"video"
  						"sabias"
  						"jugando"
  						"comenta"
    
}
.section_materia--frac{
	grid-area:geo; 
	@extend %fuentePlan;
	border: double;
}
.section_videos--frac{
	grid-area:video; 
	@extend %fuentePlan;
	border: groove;
}
.section_sabias--frac{
	grid-area:sabias; 
	@extend %fuentePlan;
	border: ridge;
}
.section_jugando--frac{
	grid-area:jugando; 
	@extend %fuentePlan;
	border: dotted;
}
.section_comen--frac{
	grid-area:comenta; 
	justify-items:stretch;
	align-items: stretch;
	border: dashed 7px brown;
	padding: 5px;

}

.footer_mod--frac{
	display: inline-block;
	padding: 20px;
	width: 1220px;
	background-image: linear-gradient(#D1FDD7, #257315)
}

