/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "geometria"                      */
/* ************************************************************************************ */ 

.main_largo--geo{
	@include cambiarMain(10150px);
}
.main_mod--geo{
	display: grid;
	grid-template-columns: 1220px;
	grid-template-rows: 300px; 
	border:inset 2px brown;
}

.section_mod--geo{
  display: grid;
  grid-template-columns: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 55px;
  justify-content: center;
  align-content: center;
  margin: 22px;
  grid-template-areas:  "geo"
  						"video"
  						"sabias"
  						"jugando"
  						"comenta"
    
}
.section_materia--geo{
	grid-area:geo; 
	@extend %fuentePlan;
	border: double;
}
.section_videos--geo{
	grid-area:video; 
	@extend %fuentePlan;
	border: groove;
}
.section_sabias--geo{
	grid-area:sabias; 
	@extend %fuentePlan;
	border: ridge;
}
.section_jugando--geo{
	grid-area:jugando; 
	@extend %fuentePlan;
	border: dotted;
}
.section_comen--geo{
	grid-area:comenta; 
	justify-items:stretch;
	align-items: stretch;
	border: dashed 7px brown;
	padding: 5px;

}

