
/* ************************************************************************************ */
/*                         Aplicando estilos por etiquetas   "main Index"                   */
/* ************************************************************************************ */ 
.cuerpoIndex{
	@include cambiarMain(1000px);
	display: flex;
	flex-direction: inline-block;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-between;
	flex-basis: 1200px;
	width: 1220px;
	
}
.mapa{
	width: 430px;
	height: 400px;
	float: left;
	border: inset 20px #946246;
	padding: 50px;
	
}
.desplegable2{
	list-style: circle inside;
	color:#412f78;
	font-style: normal;
	font-family: 'Century Gothic', sans-serif;
	font-size: 20px;
	text-align: left;
	letter-spacing:2px;
	line-height: 20px ;
	word-spacing: 2px;
	flex-grow: 3;
	width: 300px;
	padding: 30px;
}

/* ************************************************************************************ */
/*                         Aplicando estilos por etiquetas   "main Index"                   */
/* ************************************************************************************ */ 

.main_largo--con{
	@include cambiarMain(1400px);
	width: 1220px;
}

