/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas                                 */
/* ************************************************************************************ */ 
/* ********************************************************* */
/*   		          	media 700	                         */
/* ********************************************************* */ 

@media (max-width: 770px) and (min-width: 567px) {
%Med700{
	justify-items:justify;
	align-items: justify;
	width: 685px;			}
%MedClases{
	justify-items:justify;
	align-items: justify;
	width: 585px;			}

    header{
      @extend %Med700;
      height: 550px;	    }
	    .h1{
	      @extend %Med700;
	      font-size: 25px;	    
	  	  padding: 10px;		}
	    .ft{
	      @extend %Med700;
	      display: grid;	    }
	    .fk{
	      @extend %Med700;
	      text-align: center;   }
	    .desplegableInicio {
	    	display: block;   
	    	@extend %Med700; }

	footer{
		width: 685px;
   	  	height: 400px;		}
    
	/*Index*/
   	.especialIndex{
   		height: 1400px;   	}
    	.cuerpoIndex{
	    	@extend %Med700;      
	    	height: 1300px;	    }
       	.mapa{
	    	@extend %Med700;
	      	height: 200px;	
      	img{
    		width: 200px;
  			height: 90px;
  			padding: 10px;		}
  		.cuadroIndex{
  			width: 200px;
  			display: inline-block; 	}} 		
  	 	} 
    
    /*algebra*/
    .main_largo--alg{
    	@extend %Med700;
    	height: 10080px;  
    	.plan5 {
    		@extend %MedClases;	
    		grid-template-rows: 120px;
    		grid-template-columns: 250px 350px;
    		height: 150px;
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;		}} 
  		.main_mod--alg{
  				grid-template-rows: 150px;		}
    	.section_materia--alg{	@extend %MedClases;	    }
		.section_videos--alg{	@extend %MedClases;	    }
		.section_sabias--alg{	@extend %MedClases;	    }
		.section_jugando--alg{	@extend %MedClases;	    }
		.section_comen--alg{	@extend %MedClases;	    }
   		.footer_mod--alg{		@extend %Med700;
    		height: 400px;	    }}

	/*geometria*/
    .main_largo--geo{
    	@extend %Med700;
    	height: 11750px; 
    	.plan5 {
    		@extend %MedClases;	
    		grid-template-rows: 120px;
    		grid-template-columns: 250px 350px;
    		height: 150px;
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;		}} 
  		.main_mod--geo{
  				grid-template-rows: 150px;		}
    	.section_materia--geo{	@extend %MedClases;	 
	    	grid-template-columns: 685px;   }
		.section_videos--geo{	@extend %MedClases;	    }
		.section_sabias--geo{	@extend %MedClases;	    }
		.section_jugando--geo{	@extend %MedClases;	    }
		.section_comen--geo{	@extend %MedClases;	    }
	    .footer_mod--geo{		@extend %Med700;
	    	height: 400px;	    }  }  

	/*graficos*/
    .main_largo--gra{
    	@extend %Med700;
    	height: 11250px; 
    	.plan5 {
    		@extend %MedClases;	
    		grid-template-rows: 120px;
    		grid-template-columns: 250px 350px;
    		height: 150px;
    		padding: 10px;	
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;		}} 
  		.main_mod--gra{
  				grid-template-rows: 150px;		}
    	.section_materia--gra{	@extend %MedClases;	  
    		grid-template-columns: 685px;  }
		.section_videos--gra{	@extend %MedClases;	    }
		.section_sabias--gra{	@extend %MedClases;	    }
		.section_jugando--gra{	@extend %MedClases;	    }
		.section_comen--gra{	@extend %MedClases;	    }
	    .footer_mod--gra{		@extend %Med700;
	    	height: 400px;	    }}

	/*fracciones*/
    .main_largo--frac{
    	@extend %Med700;
    	height: 11700px; 
    	.plan5 {
    		@extend %MedClases;	
    		grid-template-rows: 120px;
    		grid-template-columns: 250px 350px;
    		height: 150px;
    		padding: 10px;
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;		}} 
  		.main_mod--frac{
  				grid-template-rows: 150px;		}
    	.section_materia--frac{	@extend %MedClases;	    
	    	grid-template-columns: 685px;	    }
		.section_videos--frac{	@extend %MedClases;	    }
		.section_sabias--frac{	@extend %MedClases;	    }
		.section_jugando--frac{	@extend %MedClases;	    }
		.section_comen--frac{	@extend %MedClases;	    }
	   footer .footer_mod--frac{
	    	width: 685px;
	    	height: 300px;	  
		   	.fin{
		   	 	@extend %MedClases;
		   	 	height: 100px;	 	}
			.redSocial{
				width: 500px;
				display: inline-block;
				list-style:none;
				height: 250px;	
				text-align: center;	}
			.red1 a{
				width: 250px;
				display: inline-block;
				border: dashed 5px brown;
					}}}
			
	
	/*contacto*/
	.main_largo--con{
		@extend %Med700;
    	height: 900px; 
    	img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  		.cuadro{
  			@extend %Med700; 		}} 
	




/* ********************************************************* */
/*   		          	media 576	                         */
/* ********************************************************* */ 
@media (max-width: 576px) /*and (min-width: 481px) */{

%pe570{
	justify-items:justify;
	align-items: justify;
	width: 491px;			}
%PeClases{
	justify-items:justify;
	align-items: justify;
	width: 385px;			}

    header{
      @extend %pe570;
      height: 650px;	    }
	    .h1{
	      @extend %pe570;
	      font-size: 20px;	    
	  	  padding: 10px;
		  height: 140;		}
	    .ft{
	      @extend %pe570;
	      img{
    		width: 300px;
  			height: 150px;
  			padding: 10px;		}
	      display: grid;	    }
	    .fk{
	      @extend %pe570;
	      text-align: center;   }
	    .desplegableInicio {
	    	display: block;   
	    	@extend %pe570;
			.dos{
				width: 490px;
				height: 40px;
				text-align: center;
			}}

	footer{
		width: 491px;
   	  	height: 400px;		}
    
	/*Index*/
   	.especialIndex{
   		height: 1700px;   	}
    	.cuerpoIndex{
	    	@extend %pe570;      
	    	height: 1300px;	    }
       	.mapa{
	    	@extend %pe570;
	      	height: 280px;	
      	img{
    		width: 200px;
  			height: 90px;
  			padding: 10px;	
			text-align: center;	}
  		.cuadroIndex{
  			width: 200px;
  			display: inline-block; 	}} 		
  	 	
    
    /*algebra*/
    .main_largo--alg{
    	@extend %pe570;
    	height: 11780px;  
    	.plan5 {
    		@extend %PeClases;	
    		grid-template-rows: 150px 150px;
    		grid-template-columns: 450px;
    		height: 350px;
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;		
				height: 150px;}} 
  		.main_mod--alg{
  				grid-template-rows: 300px;		}
    	.section_materia--alg{	@extend %PeClases;	    }
		.section_videos--alg{	@extend %PeClases;
			iframe{
				width: 390px;
				height: 300px;			}    }
		.section_sabias--alg{	@extend %PeClases;	    }
		.section_jugando--alg{	@extend %PeClases;	    }
		.section_comen--alg{	@extend %PeClases;	    
				textarea{
					width: 385px;				}}
   		.footer_mod--alg{		@extend %pe570;
    		height: 400px;	    }}

	/*geometria*/
    .main_largo--geo{
    	@extend %pe570;
    	height: 14000px; 
    	.plan5 {
    		@extend %PeClases;	
    		grid-template-rows: 150px 150px;
    		grid-template-columns: 450px;
    		height: 350px;
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;		
				height: 150px;}} 
  		.main_mod--geo{
  				grid-template-rows: 300px;		}
    	.section_materia--geo{ 	@extend %PeClases;	 
	    	grid-template-columns: 685px;  				}
		.section_videos--geo{	@extend %PeClases;	 
			iframe{
				width: 390px;
				height: 300px;			}      }
		.section_sabias--geo{	@extend %PeClases;	    }
		.section_jugando--geo{	@extend %PeClases;	    }
		.section_comen--geo{	@extend %PeClases;	 
			textarea{
				width: 385px;			}   }
	    .footer_mod--geo{		@extend %pe570;
	    	height: 400px;	    }  }  

	/*graficos*/
    .main_largo--gra{
    	@extend %pe570;
    	height: 13650px; 
    	.plan5 {
    		@extend %PeClases;	
    		grid-template-rows: 150px 150px; 
    		grid-template-columns: 450px;
    		height: 350px;
    		padding: 10px;	
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;	
				height: 150px;	}} 
  		.main_mod--gra{
  				grid-template-rows: 300px;		}
    	.section_materia--gra{	@extend %PeClases;	  
    		grid-template-columns: 685px; 				}
		.section_videos--gra{	@extend %PeClases;	   
			iframe{
				width: 390px;
				height: 300px;			}  }
		.section_sabias--gra{	@extend %PeClases;	    }
		.section_jugando--gra{	@extend %PeClases;	    }
		.section_comen--gra{	@extend %PeClases;	 
			textarea{
				width: 385px;			}    }
	    .footer_mod--gra{		@extend %pe570;
	    	height: 400px;	    }}

	/*fracciones*/
    .main_largo--frac{
    	@extend %pe570;
    	height: 14100px; 
    	.plan5 {
    		@extend %PeClases;	
    		grid-template-rows: 150px 150px;
    		grid-template-columns: 450px;
    		height: 350px;
    		padding: 10px;
    		img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  			.desplegable{
  				width: 450px;		
				  height: 150px;	}} 
  		.main_mod--frac{
  				grid-template-rows: 300px;		}
    	.section_materia--frac{	@extend %PeClases;	    
	    	grid-template-columns: 685px;	    }
		.section_videos--frac{	@extend %PeClases;	
			iframe{
				width: 390px;
				height: 300px;			}     }
		.section_sabias--frac{	@extend %PeClases;	    }
		.section_jugando--frac{	@extend %PeClases;	    }
		.section_comen--frac{	@extend %PeClases;	 
			textarea{
				width: 385px;			}     }
	    }
	    footer .footer_mod--frac{
	    	width: 685px;
	    	height: 300px;	  
		   	.fin{
		   	 	@extend %PeClases;
		   	 	height: 100px;	 	}
			.redSocial{
				width: 500px;
				display: inline-block;
				list-style:none;
				height: 250px;	
				text-align: center;	}
			.red1 a{
				width: 250px;
				display: inline-block;
				border: dashed 5px brown;
					}}
			
	
	/*contacto*/
	.main_largo--con{
		@extend %pe570;
    	height: 900px; 
    	img{
    			width: 250px;
  				height: 120px;
  				padding: 10px;		}
  		.cuadro{
  			@extend %pe570; 
  			height: 30px;	  				}
			  textarea{
				width: 385px;			}     }
			}


