$color-Letra: #1F740D;
$color-Fondo: #D1FDD7;
$tamaño-Letra: 20px;
$color-verdePetro: RGB(37, 115, 21);
$color-verdeAgua: #D1FDD7;
$color-AzulM:#1d0c7a;
$tipo-Fuente:Garamond, serif;

$carousel-transitionvariable: interval 7200s;

@mixin cambiarMain($largo){
	height: $largo;
}