/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "general"                      */
/* ************************************************************************************ */ 
*{
  padding: 0px;
  margin: 0px;
 
}
img{
  padding:15px; 
  width: 350px;
  height: 200px;
  border: groove 2px;
}



/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "importaciones"                      */
/* ************************************************************************************ */ 

@import "variables";
@import "cuerpo";
@import "index";
@import "header";
@import "footer";
@import "graficos";
@import "geometria";
@import "fracciones";
@import "algebra";

/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas                                 */
/* ************************************************************************************ */ 


@media (max-width: 768px) {
    .ft{ display: grid;
    }
    .grafi1 {
    display: grid;
    background-color: #D9AE57;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	  grid-template-areas:    
    "geo"
  	"video"
    "sabias"
    "jugando"
    "comenta"
     }
}

@media (max-width: 480px) {
    .grafi1 {
    display: grid;
    background-color: #CFA14C;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	  grid-template-areas:    
    "geo"
    "video"
    "sabias"
    "jugando"
    "comenta"
     }
}

@media (max-width: 320px) {
    .grafi1 {
    display: grid;
    background-color: #CFA14C;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:   
    "geo"
    "video"
    "sabias"
    "jugando"
    "comenta"
     }
}

h5{
  line-height: 3.0;
  text-align: center;
  font-size: 30px;
  font-family: "Akaya Telivigala";
  color:#5D50F5;
}

.cuadro{
  text-align: center;
  width: 1200px;

}