/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "general"                      */
/* ************************************************************************************ */ 
*{
  padding: 0px;
  margin: 0px;
 
}
img{
  padding:15px; 
  width: 350px;
  height: 200px;
  border: groove 2px;
}



/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas  "importaciones"                      */
/* ************************************************************************************ */ 

@import "variables";
@import "cuerpo";
@import "index";
@import "header";
@import "footer";
@import "graficos";
@import "geometria";
@import "fracciones";
@import "algebra";
@import "media";


/* ************************************************************************************ */
/*                      Aplicando estilos por etiquetas                                 */
/* ************************************************************************************ */ 



h5{
  line-height: 3.0;
  text-align: center;
  font-size: 30px;
  font-family: "Akaya Telivigala";
  color:#5D50F5;
}

.cuadro{
  text-align: center;
  width: 1200px;

}